
@{
    ViewBag.Title = "ItemDetails";
}

<h2>Item Details</h2>

<form action="/Home/SaveChanges" method="post">
    <input type="hidden" name="itemid" value="@ViewBag.ItemToEdit.itemid"/>
    <label>Item Name:</label> <input type="text" name="name" class="form-control" value="@ViewBag.ItemToEdit.name" />
    <label> Description: </label> <input type="text" name="description" class="form-control" value="@ViewBag.ItemToEdit.description" />
    <label> Quantity: </label> <input type="number" min="1" max="20" name="quantity" class="form-control" value="@ViewBag.ItemToEdit.quantity" />
    <label> Price: </label> <input type="number" step=".01" name="price" class="form-control" value="@ViewBag.ItemToEdit.price"/>
    <input type="submit" value="Save!" class="form-control" />
</form>

